body {
    font-family: "Quicksand", sans-serif;
    margin: 0px;
}

ul {
    list-style: none;
    margin: 10px 20px;
    padding: 0px;
}

#container {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
  }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: absolute;
}

#logo a{
    padding: 10px;
    font-family: "Oleo Script", sans-serif;
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
    text-transform: lowercase;
    text-shadow: 1px 1px 2px black;
}

/* Hamburger menu */
.menu-button{
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.menu-button span{
  width: 100%;
  height: 2.5px;
  background-color: white;
}


header ul {
    display: flex;
    flex-wrap:nowrap;
    justify-items: flex-end;
}

header li {
    margin: 10px;
    text-align: right;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 10px;
}

header a:hover{
    text-decoration: none;
    color: rgba(214, 11, 170, 0.7);
    font-weight: bold;
    font-size: 20px;
}


footer {
    background: rgb(125, 207, 99);
    padding: 10px;
  }

  footer ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  footer li {
    margin: 10px 50px;
  }

  footer img {
    width: 50px;
    object-fit:contain; 
    border-radius: 10px;
  }

/*side-drawer style starts here */

#side-drawer{
  width:100%;
  height: 100%;
  background: rgb(81, 160, 88);
  position: fixed;
  top: 0px;
  display: none;
}

#side-drawer:target {
  display: block;
  left: 0px;
}

#side-drawer header{
  position: static;
  background: rgb(81, 160, 88);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#side-drawer ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 4rem 1rem;
}

#side-drawer ul li a{
  margin-top: 20px;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 10px;
  color: white;
  margin: 3rem 1rem;
    
}

#side-drawer ul li a:hover{
  text-decoration: none;
  color: rgba(20, 61, 3, 0.7);
  font-weight: bold;
  font-size: 1.25rem;
}

/* side-drawer ends here */

  @media (max-width:768px){
    header ul {
      display: none;
      }

      #logo a{
        font-size: 2rem;
    }
  }

  @media (min-width:768px){  /*burger and side-drawer not shown after 48rem */
      .menu-button{
          display: none;
      }
    } 
  


