header{
    position: static;
    background: rgb(125, 207, 99);
    padding: 10px;
}


main{
    background-color: rgb(210, 240, 176);
    padding: 30px;
    /* position: static; */
}

#lista-stagioni ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
}

#lista-stagioni li {
    border: 2px solid black;
}